@import url("./Styles/navbar.css");
img{
    height: 200px;
    width: 300px;
}
body{
  width: fit-content;
  overflow: hidden;
  overflow-y: scroll;
}
*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#sidebar {
  height: 500px;
  width: 200px;
 
  display: none;
  z-index: 1;
  position: absolute;
}
#topnews{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
   
}
#topstoriesdiv{

  height: 628;
  width: 300;
  overflow: hidden;
  overflow-y: scroll;
  margin: 30px;
  gap: 10px;
}
.topstories{

    padding: 15px;
}
#container {
  display: flex;
  background-color: black;
}
#navbar {
  display: flex;
  background-color: #a00606;
  width: 1400px;
  gap: 100px;
  position: sticky;
}
#topics {
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  padding: none;

  white-space: nowrap;
  align-items: center;
  margin-left: 100px;
}
#topics > div > a {
  text-decoration: none;
  color: white;
  font-size: medium;

  text-align: center;
}
#icons {
  
  gap: 20px;
display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;

  width: fit-content;
  height: fit-content;
  padding: 10px;
}
#icons > a > img {
  height: 25px;
  width: 25px;
}
#icons > a {
  height: 25px;
  width: 25px;

}
#icons > :nth-child(2) {
  margin-right: 30px;
}
#icons > :first-child {
  height: 23px;
  width: 19px;
}
.items {
  display: flex;
  border-right: 1px solid black;

  height: 100%;

  justify-content: center;
  align-items: center;
}
input.base {
z-index: 1;
  transition: left 2s;
  position: relative;
  left: -200px;
  display: none;
  
}
#searchicon{
    z-index: 999;
}
input.visible{
    left:-300px ;
   
}
#searchbar > input {
  height: 45px;
  width: 200px;
}

#sidebar1 {
  background-color: white;
  border: none;
  position: absolute;
  left: 20px;
}
#mobilesidebar {
  display: none;
  position: absolute;
  left: 0;
  top: 190px;
  background-color: aqua;
  z-index: 1000000;
  height: 600px;
  width: 300px;
  overflow: hidden;
  overflow-y:auto;
}
.mobilesidebaritems {
  background-color: blue;
  padding: 10px;
}
.featurednews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 
}
.featurednews > :first-child {
  grid-column: 1/-1;
  width: 100%;
  height:400px;
  
  font-size: 35px;
}
.post {
 margin: auto;
  width: 250px;
  height:228;
  font-size: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
 text-align: center;
  
}
.postimg {
    display: block;
    margin: auto;
  height: 50%;
  width: 80%;
  transition: width height  ;
  transition-duration: 1s;
  cursor: zoom-in;
}
#featurednewsdiv {
  border: 1px solid rgb(165, 161, 161);
  padding: 5px;
 margin: 30px;
  gap: 20px;
  width: 506px;
  height: 630px;
}
.postimg:hover {
 width: 100%;
    height: 60%;
}
#newscategories{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
}
#feeds{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: aqua;
  padding: 20px;
  
}
.stories{
  background-color: blue;
  font-size: larger;
padding: 20px;
width: 430px;
height:300px ;
}
#feeds .stories  img {
  width: 420px;
}

#specials{
 display: flex;
 gap: 40px;
 justify-content: space-between;
 padding: 50px;
 font-size: larger;
 font-style: bold;
}
#visualstories{
  height: 300px;
  width: 500px;
  display:flex;
  gap: 20px;
  overflow: hidden;
  overflow-x: scroll;
}
#todaysspecials{
  height: 300px;
  width: 500px;
  display: flex;
  gap: 30px;
  overflow: hidden;
  overflow-x: scroll;
}
#opinions{
  height: 300px;
  width: 500px;
  gap: 10px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
#Ads{
  height: 300px;
  width: 500px;
}
button{
  height: 20px;
  width: 20px;
  border-radius: 10px;
}
button img{
  height: 20px;
  width: 20px;
  border-radius: 10px;
}